.register-form {
    max-width: 50%;
    padding: 5px 30px;
    margin: 0;
    box-sizing: border-box;
}

p {
    width: 60%;
    padding: 5px 20px;
    margin: 10px 0;

}

.btn-primary{
    background-color: blue; 
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
  }

