.section{
    padding-top: 70px;
    padding-bottom: 70px;
    /* padding-left: 100px;
    padding-right: 100px; */
    
    
}

.heading{
    color: goldenrod;
}

.text-box{
    background-color: black;
}

.underline{
    height: 04px;
    width: 4rem;
    background-color: orange;
    margin-top: 10 px;
    margin-bottom: 10px;
}

.description{
    color: black;
    font-size:large;
    flex-direction: column;

}

.underline2 {
    height: 10px;
    width: 50rem;
    background-color: orange;
    margin-top: 50 px;
    margin-bottom: 50px;
}

.footer{
    height: 50 px;
    background-color: goldenrod;
    margin-top: 30px;
    padding-top: 70px;
}

.form-horizontal .control-label{
    text-align: left;
}